<nav class="navbar">
    <a href="/">
        <img src="/img/logo.png" style="display: inline-block;">
    </a>
    <a href="/">
        <img src="/img/title.png" style="display: inline-block;">
    </a>
    <a href="/insights">
        <img src="/img/insights_dash.png" style="display: inline-block;">
    </a>
    <a href="/model_performance">
        <img src="/img/model_performance.png" style="display: inline-block;">
    </a>
    <a href="/prediction">
        <img src="/img/get_prediction.png" style="display: inline-block;">
    </a>
</nav>