<!DOCTYPE html>

<html>

<head>
    <title>CovidInfo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <img id="group-info" class="content" src="/img/home_temp.png" style="display: inline-block;">
</body>

</html>